@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #324067;
  --background-start-rgb: #d0ecff;
  --background-end-rgb: #e2f4fc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #324067;
    --background-start-rgb: #d0ecff;
    --background-end-rgb: #e2f4fc;
  }
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, var(--background-end-rgb))
    var(--background-start-rgb);
}

@layer base {
  .btn {
    @apply rounded-full py;
  }
}
